<mat-toolbar style="height: 80px; background-image: linear-gradient(to bottom, #74e6f1, white)"> <div>
  <img src="../../assets/favi.png" alt="logo" class="logo" width="auto" height="50px">
</div>
<h1 class="titleHeader">SYMulation Dashboard</h1>
</mat-toolbar>
<!-->div class="header">
  <div>
    <img src="../../assets/favi.png" alt="logo" class="logo" width="auto" height="50px">
  </div>
  <h1 class="titleHeader">SYMulation Dashboard</h1>

</div>-->
<br>

<!--LABEL CONNECTION-->
<div style="text-align: right; margin-right: 10px" *ngIf="!successfullConnection">
  <h4>
    <i class="fa fa-circle" [ngStyle]="{'color': successfullConnection === true ? 'green' : 'red'}"></i> Not connected</h4>
</div>

<div style="text-align: right; margin-right: 10px" *ngIf="successfullConnection">
  <h4>
    <i class="fa fa-circle" [ngStyle]="{'color': successfullConnection === true ? 'green' : 'red'}"></i> Connected</h4>
</div>
<!-- END LABEL CONNECTION-->

<!--CONNESSIONE-->
<form #connectionForm="ngForm" (ngSubmit)="saveConnectionOptions(connectionForm)">
  <div class="gridCont">
    <div></div>
    <div>

      <div class="gridTable">
        <div>
          <mat-form-field>
            <input type="text" matInput placeholder="ClientID" class="form-control" name="clientId" ngModel required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input type="text" matInput placeholder="Username" class="form-control" name="username" ngModel required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" class="form-control" name="password" ngModel required>
          </mat-form-field>
        </div>



      </div>
      <!--fine gridTable-->


      <div class="gridDue">
        <div>
          <mat-form-field>
            <input type="text" matInput placeholder="Hostname" class="form-control" name="hostname" ngModel required>
          </mat-form-field>
          <!--<label>13.94.229.181</label>-->
        </div>


        <div>
          <mat-form-field>
            <input type="text" matInput placeholder="Port" class="form-control" name="port" value="3001" disabled>
          </mat-form-field>
        </div>
      </div>

      <div>
        <div style="text-align: right; margin-right: 5px;">
          <button type="submit" mat-stroked-button mat-primary [disabled]="connectionForm.invalid">CONNECT</button>
        </div>
      </div>

    </div>
  </div>
</form>
<!--FINE CONNESSIONE-->

<br>
<br>
<!--TOPIC-->
<div *ngIf="successfullConnection">
  <hr>
  <form #topicForm="ngForm" (ngSubmit)="subscribeTopic(topicForm)">
    <div class="gridTopic">
      <div>
        <h2 style="text-align: right">Inserisci un topic:</h2>
      </div>
      <div>
        <div>
          <mat-form-field>
            <input type="text" matInput placeholder="Topic" class="form-control" name="topicField" ngModel required>
          </mat-form-field>
          <br>
          <label>
            <i>Es: symulation/datalogger/sezionelavaggio/prelavaggio/pompa1/hours</i>
          </label>
          <br>
          <label>
            <i>Es: SYMulation/DataLogger/Motore 2/current</i>
          </label>
          <br>
          <label>
            <i>Es: SYMulation/DataLogger/Pompa 1/rpm</i>
          </label>
          <br>
          <br>
        </div>
      </div>

      <div>
        <div>
          <div style="text-align: center; margin-right: 5px;">
            <button type="submit" mat-stroked-button mat-success [disabled]="topicForm.invalid">SUBSCRIBE</button>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>
<!--FINE TOPIC-->
<br>
<br>

<!--SPINNER E GRAFICO-->
<div class="gridSpinner">
    <div></div>
    <div style="text-align: center">
      <div *ngIf="showSpinner==true">
        <!--<mat-spinner></mat-spinner>-->
        <br><br>
        <div class="spinner" style="left: 50%;">
            <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle class="length" fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
            </svg>
            <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
            </svg>
            <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
            </svg>
            <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
            </svg>
          </div>

    </div>
  </div>
    <div></div>
  </div>


<div [hidden]="subscribedTopic==false">
  <div [hidden]="subscribedTopic==false" style="text-align: right; margin-right: 5px;">
    <button type="button" [disabled]="hideOnUnsub==false" mat-stroked-button mat-warn color="warn" (click)="unSubscribeTopic()">UNSUBSCRIBE</button>
  </div>
  <div #chartTarget>

  </div>

</div>
<!--SPINNER E GRAFICO-->











<!--
<div class="gridTab">

  <div>
    <mat-tab-group dynamicHeight style="margin-left:5px !important; margin-left:5px !important;">
      <mat-tab label="Device">
        <div style="margin-top:5px !important; margin-left:5px !important;">
          <mat-chip-list>
            <mat-chip color="primary" selected>alalala</mat-chip>
          </mat-chip-list>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div>
    <mat-tab-group dynamicHeight style="margin-left:5px !important; margin-left:5px !important;">
      <mat-tab label="Sensor">
        <div style="margin-top:5px !important; margin-left:5px !important;">
          <mat-chip-list>
            <mat-chip color="accent" selected>Accent fish</mat-chip>
          </mat-chip-list>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>


<div class="gridBtn">
  <div></div>
  <div>

  </div>
  <div style="text-align: right; margin-right: 5px;">
    <button mat-stroked-button mat-primary>VIEW CHART</button>
  </div>
</div>-->
